<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ConnectionStrings>
    <add key="MainDatabaseEdit" value="Server=tcp:recipehelperdev.database.windows.net,1433;Database=recipehelper;User Id=recipehelpersitebasic;Password=u&quot;M9AWE!@C =&gt;;$+p,z~F5T &lt; *fNd.^ K1F" />
  </ConnectionStrings>
</configuration>